table {
    text-align: center;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.8);
}

.card-descuento-mq {
    height: 450px;
    
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

.img-ajuste {
    margin: 0 auto;
    border-radius: 5px;
}

.sinopsis-ajuste {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.detalles-ajuste {
    position: relative;
    top: 50%;
}

@media (min-width: 600px ) and ( max-width: 960px ) {
    .navbar-container-mq {
        position: relative;
        top: 50%;
        transform: translateY(25%);
    }

    .card-descuento-mq {
        height: 110px;
    }

    .card-detalle-mq {
        height: 950px;
    }

    .img-ajuste {
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 0.7rem;
    }

    .sinopsis-ajuste {
        height: auto;
    }

    .detalles-ajuste {
        position: static;
        top: auto;
        transform: none;
    }
}